@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: DugasPro;
  src: url("../public/assets/dugas-pro-ultra.woff");
}

@font-face {
  font-family: DugasProBold;
  src: url("../public/assets/dugas-pro-bold.woff");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../public/assets/Helvetica\ Neue\ Regular.otf");
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1.5px #262523;
  }
  .font-outline-0 {
    -webkit-text-stroke: 0px #262523;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #262523;
  }

  .font-outline-dark-2 {
    -webkit-text-stroke: 1.5px #fff7f0;
  }
  .font-outline-dark-0 {
    -webkit-text-stroke: 0px #fff7f0;
  }
  .font-outline-dark-4 {
    -webkit-text-stroke: 4px #fff7f0;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
