@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: DugasPro;
  src: url("../public/assets/dugas-pro-ultra.woff");
}

@font-face {
  font-family: Capuche;
  src: url("../public/assets/capuche.otf");
}

@font-face {
  font-family: Codigra;
  src: url("../public/assets/Codigra.ttf");
}
@font-face {
  font-family: MarioKart;
  src: url("../public/assets/Mario-Kart-DS.ttf");
}
@font-face {
  font-family: SuperMario;
  src: url("../public/assets/SuperMario256.ttf");
}
@font-face {
  font-family: Chlorine;
  src: url("../public/assets/CHLORINP.TTF");
}

@font-face {
  font-family: Minecraft;
  src: url("../public/assets/Minecrafter.ttf");
}

@font-face {
  font-family: DugasProBold;
  src: url("../public/assets/dugas-pro-bold.woff");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../public/assets/Helvetica\ Neue\ Regular.otf");
}

@font-face {
  font-family: AbstractGroovy;
  src: url("../public/assets/aAbstractGroovy.otf");
}

@font-face {
  font-family: BlueOcean;
  src: url("../public/assets/BLUE\ OCEAN.ttf");
}

@font-face {
  font-family: Qbicle;
  src: url("../public/assets/Qbicle1BRKMKinv.ttf");
}

@font-face {
  font-family: MinecraftPE;
  src: url("../public/assets/MINECRAFT\ PE.ttf");
}

@font-face {
  font-family: Retrotype;
  src: url("../public/assets/Retrotype.ttf");
}

@font-face {
  font-family: Truckin;
  src: url("../public/assets/KeeponTruckin.ttf");
}

@font-face {
  font-family: Herkules;
  src: url("../public/assets/Herkules.otf");
}

@font-face {
  font-family: Cube;
  src: url("../public/assets/Cube.ttf");
}

@font-face {
  font-family: Euphoria;
  src: url("../public/assets/EuphoriaParty.ttf");
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1.5px #262523;
  }
  .font-outline-0 {
    -webkit-text-stroke: 0px #262523;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #262523;
  }

  .font-outline-dark-2 {
    -webkit-text-stroke: 1.5px #fff7f0;
  }
  .font-outline-dark-0 {
    -webkit-text-stroke: 0px #fff7f0;
  }
  .font-outline-dark-4 {
    -webkit-text-stroke: 4px #fff7f0;
  }

  @keyframes pulse {
    from,
    to {
      scale: 1;
    }

    50% {
      scale: 1.08;
    }
  }

  .noise {
    animation: pulse 800ms ease-in-out;
    filter: url(#noise);
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Define the animation keyframes */
@keyframes noise {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(-5%, -5%, 0);
  }
  20% {
    transform: translate3d(5%, 5%, 0);
  }
  30% {
    transform: translate3d(-5%, 0, 0);
  }
  40% {
    transform: translate3d(5%, -5%, 0);
  }
  50% {
    transform: translate3d(-5%, 5%, 0);
  }
  60% {
    transform: translate3d(0, -5%, 0);
  }
  70% {
    transform: translate3d(5%, 0, 0);
  }
  80% {
    transform: translate3d(0, 5%, 0);
  }
  90% {
    transform: translate3d(-5%, -5%, 0);
  }
  100% {
    transform: translate3d(5%, 5%, 0);
  }
}

/* Apply the noise animation on hover */
.card:hover .noise {
  animation: noise 0.2s steps(2) infinite;
}

/* Define the noise background */
.noise {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='black'/%3E%3Crect x='1' y='1' width='98' height='98' fill='none' stroke='white' stroke-width='2' stroke-dasharray='5,5'/%3E%3C/svg%3E");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}
