@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 0;
} */

@font-face {
  font-family: DugasPro;
  src: url("../public/assets/dugas-pro-ultra.woff");
}

@font-face {
  font-family: Capuche;
  src: url("../public/assets/capuche.otf");
}

@font-face {
  font-family: Codigra;
  src: url("../public/assets/Codigra.ttf");
}
@font-face {
  font-family: MarioKart;
  src: url("../public/assets/Mario-Kart-DS.ttf");
}
@font-face {
  font-family: SuperMario;
  src: url("../public/assets/SuperMario256.ttf");
}
@font-face {
  font-family: Chlorine;
  src: url("../public/assets/CHLORINP.TTF");
}

@font-face {
  font-family: Minecraft;
  src: url("../public/assets/Minecrafter.ttf");
}

@font-face {
  font-family: DugasProBold;
  src: url("../public/assets/dugas-pro-bold.woff");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../public/assets/Helvetica\ Neue\ Regular.otf");
}

@font-face {
  font-family: AbstractGroovy;
  src: url("../public/assets/aAbstractGroovy.otf");
}

@font-face {
  font-family: BlueOcean;
  src: url("../public/assets/BLUE\ OCEAN.ttf");
}

@font-face {
  font-family: Qbicle;
  src: url("../public/assets/Qbicle1BRKMKinv.ttf");
}

@font-face {
  font-family: MinecraftPE;
  src: url("../public/assets/MINECRAFT\ PE.ttf");
}

@font-face {
  font-family: Retrotype;
  src: url("../public/assets/Retrotype.ttf");
}

@font-face {
  font-family: Truckin;
  src: url("../public/assets/KeeponTruckin.ttf");
}

@font-face {
  font-family: Herkules;
  src: url("../public/assets/Herkules.otf");
}

@font-face {
  font-family: Cube;
  src: url("../public/assets/Cube.ttf");
}

@font-face {
  font-family: Euphoria;
  src: url("../public/assets/EuphoriaParty.ttf");
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1.5px #262523;
  }
  .font-outline-0 {
    -webkit-text-stroke: 0px #262523;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #262523;
  }

  .font-outline-dark-2 {
    -webkit-text-stroke: 1.5px #fff7f0;
  }
  .font-outline-dark-0 {
    -webkit-text-stroke: 0px #fff7f0;
  }
  .font-outline-dark-4 {
    -webkit-text-stroke: 4px #fff7f0;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
