@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
position: absolute;
top: 50%;
left: 60%;
}

.website-container {
  -webkit-margin-start: auto;
-webkit-margin-end: auto;
margin: auto;
  width: 40vh;
  }

@media (min-width: 768px) {
.website-container {

  width: 70vh;
}
}

.underline-css:after {
  content:"";
  float:left;
  background:#43434aAA;
  width:100%;
  height:6px;
  border-radius: 3px;
}

html,
body {
  background-color: #202023;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
